body {
    font-size: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.face {
    cursor: pointer;
    transition: 0.3s;
}
