body {
    font-size: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.face {
    cursor: pointer;
    transition: 0.3s;
}
.enfado {
  background-color: #FFC0C0; /* Un fondo más rojizo para el enfado */
  border: 1px solid #D43F00; /* Borde más oscuro */
}
